{# This page is shows an individual game embedded in an iframe#}

<!DOCTYPE HTML>
<html>
  <head>
    <title>GameDetail</title>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    {#This is a script for listening to games.#}
    {% load static %}
    <script src="{% static 'hello/listen_game.js' %}"></script>

  </head>
  <body>

    <h1>GameDetails for {{game}}</h1>

    {#Any game can be added to a page in an iframe like this#}
    <iframe src="http://webcourse.cs.hut.fi/example_game.html"></iframe>

    {#This form is only used to create the URL to the page. Check listen_game.js for details.#}
    <form url="{% url 'hello:save_game' game.gameid %}" method="post" id="save_form">
      {% csrf_token %}
    </form>

    <form url="{% url 'hello:submit_score' game.gameid %}" method="post" id="score_form">
      {% csrf_token %}
    </form>

    <ul class="actions">
      <li><a href="home" class="button">Home</a></li>
      <li><a href="gamelist" class="button">Gamelist</a></li>
      <li><a href="shop" class="button">Shop</a></li>
      <li><a href="#" class="button">High scores</a></li>
    </ul>

    <button id="logout">Logout</button>

  </body>