{# This page is shows all the available games that the player can buy, #}
{# and also enable playing them #}

<!DOCTYPE HTML>
<html>
  <head>
    <title>Shop</title>
  </head>

  <body>
    <h1> Shop </h1>

    <ul class="actions">
      <li><a href="home" class="button">Home</a></li>
      <li><a href="gamelist" class="button">Gamelist</a></li>
      <li><a href="shop" class="button">Shop</a></li>
      <li><a href="#" class="button">High scores</a></li>
    </ul>

    <button id="logout">Logout</button>
  </body>
</html>